<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p>&copy; 2024 My Notes App. All rights reserved.</p>
        <p>Contact us: <a href="mailto:ajoyia360@gmail.com" class="text-white">ajoyia360@gmail.com</a></p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
