{% extends 'mainapp/base.html' %} {% block content %}
<div class="container">
  <h1 class="mt-5">Search Notes</h1>
  <form class="mt-4 mb-4" method="get" action="{% url 'search_notes' %}">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Search by title"
        value="{{ query }}"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
  <hr />

  {% if notes %}
  <h2>Search Results</h2>
  <div class="row">
    {% for note in notes %}
    <div class="col-md-4 mb-4">
      <!-- Adjust the column width here -->
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <a href="{% url 'detail_note' note.id %}" class="btn btn-primary border rounded"
            >View Note</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No notes found.</p>
  {% endif %}
</div>
{% endblock %}
